openapi: 3.1.0
info:
  title: PA Vietnam Support API
  version: 1.0.0
  description: API cho hệ thống ticket hỗ trợ khách hàng
  contact:
    name: PA Vietnam
    email: dev@pavietnam.vn
servers:
  - url: https://apigateway.pavietnam.vn
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Ticket
    description: Các API liên quan đến ticket hỗ trợ khách hàng
paths:
  /v1/users/{user_id}/tickets:
    post:
      summary: Tạo ticket hỗ trợ mới
      operationId: createTicket
      description: Tạo một yêu cầu hỗ trợ mới cho khách hàng, hỗ trợ đính kèm file.
      tags:
        - Ticket
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: UID của khách hàng phải trùng với user_id trong token
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTicketRequest'
      responses:
        '200':
          description: Tạo ticket thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/users/{user_id}/tickets/{id}:
    get:
      summary: Lấy chi tiết ticket
      operationId: getTicketDetail
      description: Lấy thông tin chi tiết một ticket bao gồm trạng thái, phòng ban, nhân viên và lịch sử trao đổi.
      tags:
        - Ticket
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lấy chi tiết thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/users/{user_id}/tickets/{id}/close:
    put:
      summary: Đóng ticket hỗ trợ
      operationId: closeTicket
      description: Đóng một ticket hỗ trợ. Sau khi đóng khách hàng có thể mở lại trong vòng 2 tháng.
      tags:
        - Ticket
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Đóng ticket thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/users/{user_id}/tickets/{id}/reopen:
    post:
      summary: Mở lại ticket đã đóng
      operationId: updateTicketReopen
      description: |
        Mở lại một ticket đã đóng. Chỉ thực hiện được khi ticket đang ở trạng thái đóng (trangthai = 2) và thời gian đóng trong vòng 2 tháng gần nhất. Nếu không truyền descriptions, hệ thống tự điền "MỞ LẠI CÂU HỎI".
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/TicketId'
        - $ref: '#/components/parameters/XRequestId'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReopenTicketRequest'
      responses:
        '200':
          description: Mở lại ticket thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            4200 — dữ liệu không hợp lệ. 4466 — quá thời hạn 2 tháng. 4467 — ticket đang mở.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                validation_error:
                  summary: Dữ liệu không hợp lệ
                  value:
                    success: false
                    error:
                      code: 4200
                      message: Dữ liệu request không hợp lệ
                      data: null
                expired:
                  summary: Quá thời hạn mở lại
                  value:
                    success: false
                    error:
                      code: 4466
                      message: Quá thời hạn cho phép mở lại
                      data: null
                already_open:
                  summary: Ticket đang mở
                  value:
                    success: false
                    error:
                      code: 4467
                      message: Câu hỏi đang được mở
                      data: null
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    basicAuth:
      type: http
      scheme: basic
  schemas:
    CreateTicketRequest:
      type: object
      required:
        - department_id
        - service_id
        - title
        - description
      properties:
        department_id:
          type: integer
          description: ID của phòng ban muốn tạo ticket
          example: 3
        service_id:
          type: integer
          description: ID của dịch vụ muốn tạo ticket
          example: 101
        title:
          type: string
          description: Tiêu đề của ticket
          example: Lỗi không thể đăng nhập
        description:
          type: string
          maxLength: 4000
          description: Mô tả chi tiết của ticket
          example: Người dùng không thể đăng nhập vào hệ thống sau khi cập nhật phần mềm.
        files:
          type: array
          description: |
            Tệp đính kèm (Không bắt buộc). Tối đa 3 file, mỗi file tối đa 10MB. Định dạng chấp nhận: .gif, .jpg, .jpeg, .png, .svg, .bmp, .pdf, .zip, .rar
          maxItems: 3
          items:
            type: string
            format: binary
    StandardSuccess:
      type: object
      required:
        - success
        - error
        - data
      properties:
        success:
          type: boolean
          example: true
        error:
          type:
            - 'null'
          example: null
        data:
          description: Dữ liệu trả về tuỳ vào từng endpoint khác nhau
    StandardError:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: integer
              description: 'Mã lỗi nội bộ của hệ thống: 4102: Token không hợp lệ hoặc đã hết hạn 4108: Không có quyền truy cập 4004: Không tìm thấy dữ liệu 4200: Dữ liệu không hợp lệ'
              example: 4200
            message:
              type: string
              example: Dữ liệu không hợp lệ
            data:
              type:
                - object
                - 'null'
    FileAttachment:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL của file đính kèm
          example: https://example.pavietnam.vn/support/files/help.pdf
        category:
          type: string
          enum:
            - image
            - document
            - other
            - video
            - archive
          description: 'Phân loại file: ảnh, video, tài liệu, archive (nén), hoặc khác.'
          example: document
    ReopenTicketRequest:
      type: object
      properties:
        description:
          type: string
          maxLength: 4000
          description: |
            Mô tả lý do mở lại ticket, tối đa 4000 ký tự. Nếu không cung cấp, hệ thống mặc định sẽ là "MỞ LẠI CÂU HỎI"
          example: Khách hàng cần thêm thông tin về cách sử dụng sản phẩm.
        files:
          type: array
          maxItems: 3
          description: Danh sách file đính kèm hỗ trợ cho việc mở lại ticket. Tối đa 3 file, mỗi file tối đa 10MB.
          items:
            $ref: '#/components/schemas/FileAttachment'
  responses:
    Unauthorized:
      description: Token không hợp lệ hoặc đã hết hạn - Mã lỗi 4102
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 4102
              message: Token không hợp lệ hoặc đã hết hạn
              data: null
    Forbidden:
      description: IP không hợp lệ - Mã lỗi 4108
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 4108
              message: IP không được phép truy cập
              data: null
    ValidationError:
      description: Dữ liệu request không hợp lệ - Mã lỗi 4200
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 4200
              message: Dữ liệu request không hợp lệ
              data: null
    InternalError:
      description: Lỗi server không mong muốn
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 500
              message: Lỗi hệ thống, vui lòng thử lại sau
              data:
                type:
                  - null
    NotFound:
      description: Không tim thấy dữ liệu - Mã lỗi 4004
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 4004
              message: Không tìm thấy dữ liệu
              data: null
  parameters:
    UserId:
      name: user_id
      in: path
      required: true
      description: |
        UID của khách hàng. Phải trùng với user_id trong JWT token — hệ thống validate ở middleware.
      schema:
        type: string
      example: '23'
    TicketId:
      name: id
      in: path
      required: true
      description: ID của ticket cần thao tác
      schema:
        type: string
      example: '456'
    XRequestId:
      name: X-Request-Id
      in: header
      required: false
      description: |
        Trace ID để debug request — optional, xuất hiện ở toàn bộ APIs trong hệ thống.
      schema:
        type: string
      example: req-abc123
